/**html tags custom*/
body{
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color:#66BFBF;
  font-size: 5rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  font-weight: normal;  
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  color: grey;
  background-color: white;
  border: none;
  border-top: dotted;
  height:2px;
  border-width: 4px;
  width: 4%;
  margin-top: 40px;
  margin-bottom: 10px;
}

/*Top container**/
.top-container{
  background-color: #EAF6F6;
  padding-top: 150px;
  position:relative;
}


.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

/**middle container*/
.middle-container{
  margin: 50px 0;
  
}
.profile-photo{
  width: 20%;

}
.profile-text{
  margin-top: 15px;
}
.intro{
  width: 50%;
  margin: auto;
  text-align: justify;

}
.links{
  text-decoration: none;
  color: grey;
}
.links:hover{
  color: #11999E;
}
.skill-row{
  width: 50%;
  margin: 30px auto 100px auto;
  text-align: left;
  line-height: 1.7;
}

.computer{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-top: 20px;
  justify-content: center;
}
.book{
  width: 25%;
  float: right;
  margin-right: 30px;
  justify-content: center;
}

/**bottam container**/
.bottom-container{  
  background-color:#66BFBF;
}
.btn-shuja {
  margin-top: 20px;
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient (top ,bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color:#ffff;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  padding: 15px;
  border: solid #337FED 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn-shuja:hover {
  border: solid #30E3CB 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient (top ,bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  height: 20px;
  font-size: 13px;
  padding-top: 10px;
  font-family: arial,sans-serif;
}
.contact-links{
  padding:30px 0;
}

/**page Footer*/
.footer-link{
  color: #11999E;
  margin-right: 15px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}


  
